h1 {
    font-size:50pt;
    font-family: Arial;
}

h2 {
    font-family: Arial;
}

* {
    background-color: lightblue;
    margin-left: 10px;
}
body{
    height: 500px;
    display: flex;
    justify-content: center;
    algin-items: center;
    overflow: hidden;
}

. container{
    background-color: white;
    width: 470px;
    height: 360px;
    padding: 70px;
    border-radius: 5px;
    font-family: "Roboto";
}

.heading{
    color: rebeccapurple;
    textransform: uppercase

}


